<div class="content-block__image">
	{% if field_article_image['#items'] %}
		{{ field_article_image }}
	{% elseif field_video_embed['#items']  %}
		{{ field_video_embed }}
	{% endif %}
</div>
<div class="content-block__content-wrapper">
	<div class="content-block__content">
		<span class="content-block__tag font--yellow font--font-black">News</span>
		<h4>{{ node_title }}</h4>
	</div>
</div>
<a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="content-block__link">{{ 'Read more'|t }}</a>
