{#
/**
 * @file
 * Template for a 5 regions panel layout.
 *
 * This template provides 5 regions layout. First region full width and other regions 1200px max-width.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - $content.first Content in the first region.
 *   - $content.second Content in the second region.
 *   - $content.third Content in the third region.
 *   - $content.fourth Content in the fourth region.
 *   - $content.fifth Content in the fifth region.
 */
#}
<div class="cr-layout-five" {% if css_id %}{{ css_id }}{% endif %}>
  <div class="first-region">
    {{ content.first }}
  </div>
  <div class="second-region">
    {{ content.second }}
  </div>
  <div class="third-region">
    {{ content.third }}
  </div>
  <div class="fourth-region">
    {{ content.fourth }}
  </div>
  <div class="fifth-region">
    {{ content.fifth }}
  </div>
</div>
