<div class="cw-region">
	<article class="view-mode-cw_l teaser-block {{ modifier_class }} clearfix"> 
		<a class="teaser-block__link" href="http://shop.rednoseday.com/order-a-fundraising-kit"> 
			<div class="teaser-block__image">
			  	<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/original.jpg" alt="test">
			</div>
			<div class="teaser-block__body bg--white">
			  <h4>Get ideas, tips and tools to help you fundraise</h4>
				<div class="teaser-block__cta">
			  	<span class="btn btn--red">Pre-order a Kit</span>
			  </div>
			</div> 
		</a>
	</article>
</div>
<div class="cw-region">
	<article class="view-mode-cw_m teaser-block {{ modifier_class }} clearfix"> 
		<a class="teaser-block__link" href="http://shop.rednoseday.com/order-a-fundraising-kit"> 
			<div class="teaser-block__image">
			  	<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/original.jpg" alt="test">
			</div>
			<div class="teaser-block__body bg--white">
			  <h4>Get ideas, tips and tools to help you fundraise</h4>
				<div class="teaser-block__cta">
			  	<span class="btn btn--red">Pre-order a Kit</span>
			  </div>
			</div> 
		</a>
	</article>
	<article class="view-mode-cw_m teaser-block {{ modifier_class }} clearfix"> 
		<a class="teaser-block__link" href="http://shop.rednoseday.com/order-a-fundraising-kit"> 
			<div class="teaser-block__image">
			  	<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/original.jpg" alt="test">
			</div>
			<div class="teaser-block__body bg--white">
			  <h4>Get ideas, tips and tools to help you fundraise</h4>
				<div class="teaser-block__cta">
			  	<span class="btn btn--red">Pre-order a Kit</span>
			  </div>
			</div> 
		</a>
	</article>
</div>
<div class="cw-region">
	<article class="view-mode-cw_s teaser-block {{ modifier_class }} clearfix"> 
		<a class="teaser-block__link" href="http://shop.rednoseday.com/order-a-fundraising-kit"> 
			<div class="teaser-block__image">
			  	<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/original.jpg" alt="test">
			</div>
			<div class="teaser-block__body bg--white">
			  <h4>Get ideas, tips and tools to help you fundraise</h4>
				<div class="teaser-block__cta">
			  	<span class="btn btn--red">Pre-order a Kit</span>
			  </div>
			</div> 
		</a>
	</article>
	<article class="view-mode-cw_s teaser-block {{ modifier_class }} clearfix"> 
		<a class="teaser-block__link" href="http://shop.rednoseday.com/order-a-fundraising-kit"> 
			<div class="teaser-block__image">
			  	<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/original.jpg" alt="test">
			</div>
			<div class="teaser-block__body bg--white">
			  <h4>Get ideas, tips and tools to help you fundraise</h4>
				<div class="teaser-block__cta">
			  	<span class="btn btn--red">Pre-order a Kit</span>
			  </div>
			</div> 
		</a>
	</article>
	<article class="view-mode-cw_s teaser-block {{ modifier_class }} clearfix"> 
		<a class="teaser-block__link" href="http://shop.rednoseday.com/order-a-fundraising-kit"> 
			<div class="teaser-block__image">
			  	<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/original.jpg" alt="test">
			</div>
			<div class="teaser-block__body bg--white">
			  <h4>Get ideas, tips and tools to help you fundraise</h4>
				<div class="teaser-block__cta">
			  	<span class="btn btn--red">Pre-order a Kit</span>
			  </div>
			</div> 
		</a>
	</article>
</div>
<div class="cw-region">
	<article class="view-mode-cw_s teaser-block {{ modifier_class }} clearfix"> 
		<a class="teaser-block__link" href="http://shop.rednoseday.com/order-a-fundraising-kit"> 
			<div class="teaser-block__image">
			  	<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/original.jpg" alt="test">
			</div>
			<div class="teaser-block__body bg--white">
			  <h4>Get ideas, tips and tools to help you fundraise</h4>
				<div class="teaser-block__cta">
			  	<span class="btn btn--red">Pre-order a Kit</span>
			  </div>
			</div> 
		</a>
	</article>
	<article class="view-mode-cw_mp teaser-block {{ modifier_class }} clearfix"> 
		<a class="teaser-block__link" href="http://shop.rednoseday.com/order-a-fundraising-kit"> 
			<div class="teaser-block__image">
			  	<img src="/profiles/cr/themes/custom/campaign_base/images/styleguide-images/original.jpg" alt="test">
			</div>
			<div class="teaser-block__body bg--white">
			  <h4>Get ideas, tips and tools to help you fundraise</h4>
				<div class="teaser-block__cta">
			  	<span class="btn btn--red">Pre-order a Kit</span>
			  </div>
			</div> 
		</a>
	</article>
</div>
