<div class="region region-footer cr-footer">
  <nav role="navigation" aria-labelledby="block-campaign-base-footer-menu" id="block-campaign-base-footer" class="contextual-region block block-menu navigation menu--footer {{ bg_colour }}">          
    <h2 class="visually-hidden" id="block-campaign-base-footer-menu">{{ title }}</h2>
    <ul class="menu">
      <li class="menu-item">
        <a href="{{ link_1 }}" data-drupal-link-system-path="{{ link_1 }}">{{ item_1 }}</a>
      </li>
      <li class="menu-item">
        <a href="{{ link_2 }}" data-drupal-link-system-path="{{ link_2 }}">{{ item_2 }}</a>
      </li>
      <li class="menu-item">
        <a href="{{ link_3 }}" data-drupal-link-system-path="{{ link_3 }}">{{ item_3 }}</a>
      </li>
    </ul>
  </nav>
</div>
