
{% set row_bg_colour = content.field_single_msg_bg['#items'][0].value %}
{% set variant_type = paragraph.bundle|clean_class ~ "--" ~ content.field_single_msg_layout_variant['#items'][0].value %}
{% set hide_title = content.field_single_msg_hide_title['#items'][0].value == '1' ? 'visuallyhidden' : '' %}
{% set body_bg_colour = content.field_single_msg_body_bg_colour['#items'][0].value %}
{% set padding_option = paragraph.bundle|clean_class ~ "--" ~ content.field_single_msg_padding_option['#items'][0].value %}

{%
set classes = [
'paragraph',
paragraph.bundle|clean_class,
variant_type,
row_bg_colour,
padding_option,
]
%}

<section{{ attributes.addClass(classes) }} >
  <div class="single-msg__outer-wrapper">
    {% if content.field_single_msg_img['#items'] %}
      <div class="single-msg__image">
      {{ content.field_single_msg_img }}
      </div>
    {% endif %}
    <div class="single-msg__copy_wrapper {{ body_bg_colour }}">
      <div class="single-msg__copy">
        <div class="single-msg__title {{ hide_title }}">
          <h2>
            {{ content.field_single_msg_title }}
          </h2>
        </div>
        <div class="single-msg__body">
          {{ content.field_single_msg_body }}
        </div>
      </div>
    </div>
  </div>
</section>
