<div class="cards">
	<h2 class="cards__title">Cards title</h2>
	<div class="cards-wrapper">
		<div class="cards__item">
			<div class="cards__image">
				<img src="http://dummyimage.com/270x270/feed51/000000.png" alt="card image">
			</div>
			<div class="cards__content-wrapper bg--yellow {{modifier_class}}">
				<div class="cards__content">
					<h3>Follow in Dermont's footsteps</h3>
					<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
					<a class="cards__link link link--inline-redlink link--inline-red" href="#">Get your Dancing Kit</a>
				</div>
			</div>
		</div>
		<div class="cards__item">
			<div class="cards__image">
				<img src="http://dummyimage.com/270x270/ff9caa/000000.png" alt="card image">
			</div>
			<div class="cards__content-wrapper bg--pink {{modifier_class}}">
				<div class="cards__content">
					<h3>Follow in Dermont's footsteps</h3>
					<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
					<a class="cards__link link link--inline-redlink link--inline-red" href="#">Get your Dancing Kit</a>
				</div>
			</div>
		</div>
		<div class="cards__item">
			<div class="cards__image">
				<img src="http://dummyimage.com/270x270/01bec9/000000.png" alt="card image">
			</div>
			<div class="cards__content-wrapper bg--blue {{modifier_class}}">
				<div class="cards__content">
					<h3>Follow in Dermont's footsteps</h3>
					<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
					<a class="cards__link link link--inline-redlink link--inline-red" href="#">Get your Dancing Kit</a>
				</div>
			</div>
		</div>
		<div class="cards__item">
			<div class="cards__image">
				<img src="http://dummyimage.com/270x270/8551a1/000000.png" alt="card image">
			</div>
			<div class="cards__content-wrapper bg--purple {{modifier_class}}">
				<div class="cards__content">
					<h3>Follow in Dermont's footsteps</h3>
					<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
					<a class="cards__link link link--inline-redlink link--inline-red" href="#">Get your Dancing Kit</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cards">
	<h2 class="cards__title">Cards title</h2>
	<div class="cards-wrapper">
		<div class="cards__item">
			<div class="cards__image">
				<img src="http://dummyimage.com/640x360/000/fff" alt="card image">
			</div>
			<div class="cards__content-wrapper bg--white {{modifier_class}}">
				<div class="cards__content">
					<h3>Follow in Dermont's footsteps</h3>
					<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
					<a class="cards__link link link--inline-redlink link--inline-red" href="#">Get your Dancing Kit</a>
				</div>
			</div>
		</div>
		<div class="cards__item">
			<div class="cards__image">
				<img src="http://dummyimage.com/640x360/000/fff" alt="card image">
			</div>
			<div class="cards__content-wrapper bg--white {{modifier_class}}">
				<div class="cards__content">
					<h3>Follow in Dermont's footsteps</h3>
					<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
					<a class="cards__link link link--inline-redlink link--inline-red" href="#">Get your Dancing Kit</a>
				</div>
			</div>
		</div>
		<div class="cards__item">
			<div class="cards__image">
				<img src="http://dummyimage.com/640x360/000/fff" alt="card image">
			</div>
			<div class="cards__content-wrapper bg--white {{modifier_class}}">
				<div class="cards__content">
					<h3>Follow in Dermont's footsteps</h3>
					<p>Phosfluorescently recaptiualize covalent strategic theme areas rather than value-added methodologies.</p>
					<a class="cards__link link link--inline-redlink link--inline-red" href="#">Get your Dancing Kit</a>
				</div>
			</div>
		</div>
	</div>
</div>