{#
/**
 * @file
 * Template for Articles layout.
 */
#}
{% set no_caption = field_image_caption['#items'].value == '' ? 'cr-article__header--no-caption' %}
{%
set header_class = [
'cr-article__header',
no_caption
]
%}

{% set type = content.field_article_type[0]['#markup'] %}

<div class="page-node-type-article--{{ type | replace({'releases': 'release'}) }}">
  <article class="cr-article" {% if css_id %}{{ css_id }}{% endif %}>
    <div class="cr-article__content-wrapper">
    <header {{ attributes.addClass(header_class) }}>
      <div class="cr-article__social-links">
          <div class= "social-links-label">
            <span>Share with:</span>
          </div>
          {{ social_links }}
        </div>
        {{ node_title }}
        <div class="contextual-region">
          {{ title_suffix.contextual_links }}
        </div>
        <span class ='cr-article__date'>
          {{ field_article_publish_date }}
        </span>
        {% if field_article_image['#items'] %}
        <div class ='cr-article__image'>
          {{ field_article_image }}
        </div>
      {% elseif field_video_embed['#items'] %}
        <div class ='cr-article__video'>
          {{ field_video_embed }}
        </div>
      {% endif %}
      {% if field_image_caption['#items'] %}
        <figcaption class = 'cr-article__caption'>
          {{ field_image_caption }}
        </figcaption>
      {% endif %}
      </header>
      <section class="cr-article__body">
        {{ body }}
      </section>
    </div>
  </article>
</div>

<section class="cr-article__bottom-region">
  {% if type == 'press-releases' %}
    {{ content['dynamic_block_field:node-related_press_releases'] }}
  {% else %}
    {{ content['dynamic_block_field:node-related_news'] }}
  {% endif %}
</section>
