{% set video_link = 'https://www.youtube.com/embed/' ~ field_youtube_video_id['#items'][0].value ~ '?autoplay=1' %}
<div {{ attributes.addClass('search-result', 'search-result--' ~ nodetype) }}>
	<div class="search-result__image">
		<a data-rel="lightcase" href="{{ video_link }}"><img src="{{ campaign_base_path }}images/backgrounds/search_video.png" alt="{{ name }}"></a>
	</div>
  <div class="search-result__content-wrapper bg--white">
		<div class="search-result__content">
			<h3>{{ name }}</h3>
			<div class="search-result__body">
				{{ field_video_caption }}
			</div>
		</div>
	</div>
</div>
