<p>
  <button class="{{modifier_class}}" type="button">A normal button</button>
  <button class="{{modifier_class}}" type="submit">A submit button</button>
  <button class="{{modifier_class}}" type="reset">A reset button</button>
</p>
<p>
  <input class="{{modifier_class}}" type="button" value="Input button">
  <input class="{{modifier_class}}" type="submit" value="Input submit button">
  <input class="{{modifier_class}}" type="reset" value="Input reset button">
</p>
<p>
  <a class="button {{modifier_class}}" href="#">Link button</a>
</p>
<p>
  <button class="{{modifier_class}}" type="button" disabled>A disabled button</button>
  <button class="{{modifier_class}}" type="submit" disabled>A disabled submit button</button>
  <button class="{{modifier_class}}" type="reset" disabled>A disabled reset button</button>
</p>
<p>
  <input class="{{modifier_class}}" type="button" value="Disabled input button" disabled>
  <input class="{{modifier_class}}" type="submit" value="Disabled input submit button" disabled>
  <input class="{{modifier_class}}" type="reset" value="Disabled input reset button" disabled>
</p>
<p>
  <a class="button {{modifier_class}}" disabled href="#">Disabled link button</a>
</p>
