{% set link_colour = field_teaser_link_colour['#items'][0].value %}
{% set link_target = field_cw_link_target['#items'][0].value ? '_black' : '_self' %}
{% set youtube_link = field_teaser_you_tube_link['#items'][0].value ? 'lightcase' : '' %}

<article{{ attributes.addClass('teaser-block', 'clearfix') }}>
  {{ title_suffix.contextual_links }} 
  <a class="teaser-block__link" href="{{ field_teaser_link_address }}" target="{{ link_target }}">
    <div class="teaser-block__image">
      {{ field_teaser_image }}
    </div>
    <div class="teaser-block__body bg--white">
      {{ body }}
      <div class="teaser-block__cta">
        <span class="btn btn--red">{{ field_teaser_link_title }}</span>
      </div>
    </div> 
  </a>
</article>
