<div class="cookie-consent cc_banner cc_container cc_container--open">
    <p class="cc_message">{{message}} <a data-cc-if="options.link" target="{{ target }}" class="cc_more_info link--red" href="{{ link }}">{{ learn_more }}</a></p>
    <a href="#null" data-cc-event="click:dismiss" target="_blank" class="btn btn--red">{{ dismiss }}</a>
</div>