<div class="landing-page">

  <div class="landing-page__full region-featured-top">
    <div class="landing-page__left-content">
      {{ content.header_left }}
    </div>

    <div class="landing-page__right-sidebar">
      {{ content.header_right }}
    </div>
  </div>

  <div class="landing-page__full">
    <hr class="divider--less-top">
    <div class="landing-page">
      <div class="landing-page__col-1">
        {{ content.promo_1 }}
      </div>
      <div class="landing-page__col-2">
        {{ content.promo_2 }}
      </div>
      <div class="landing-page__col-3">
        {{ content.promo_3 }}
      </div>
    </div>
  </div>

  <div class="landing-page__full region-featured-top">
    <div class="landing-page__left-content">
      <hr>
      {{ content.body_left }}
    </div>

    <div class="landing-page__right-sidebar">
      <hr>
      {{ content.body_right }}
    </div>
  </div>

  <div class="landing-page__full">
    <hr>
    <div class="landing-page">
      <div class="landing-page__col-1">
        {{ content.footer_1 }}
      </div>
      <div class="landing-page__col-2">
        {{ content.footer_2 }}
      </div>
      <div class="landing-page__col-3">
        {{ content.footer_3 }}
      </div>
    </div>
  </div>
</div>
