{%
set classes = [
'block-cr-email-signup',
'block--cr-email-signup',
'block--cr-email-signup--register-interest',
'block--cr-email-signup--step-1',
'block--cr-email-signup--banner',
]
%}

<div{{ attributes.addClass(classes) }}>
  <div class="block--cr-email-signup__inner-wrapper">
    <div class="cr-email-signup--messages" aria-live="assertive" aria-relevant="additions text" aria-atomic="true">
      {{ content.title_message }}
      {{ content.initial_message }}
      {{ content.first_success_message }}
    </div>
    <div class="esu-errors messages messages--error error-msg-cr-email-signup-register-interest-form" role="alert" aria-atomic="true" aria-relevant="all"></div>
    {{ content|without('initial_message', 'first_success_message', 'title_message') }}

  </div>
</div>
