{% set bg_body_colour = field_bg_single_msg_bg_colour['#items'][0].value %}
{% set bg_body_layout = field_bg_single_msg_layout['#items'][0].value %}
{% set body_text = field_body|render %}


{%
set classes = [
'paragraph',
'contextual-region',
'background-single-msg',
'paragraph--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}

{%
set body_classes = [
bg_body_layout,
bg_body_colour,
'background-single-msg__body',
]
%}

<section{{ attributes.addClass(classes) }}>
	<div class="background-single-msg__image">
		{{ content.field_background }}
	</div>

	{% if body_text is not empty %}
		<div class="background-single-msg__inner-wrap">
			{{ title_suffix.contextual_links }}
		  <div{{ attributes.setAttribute('class', body_classes) }}>
		    {{ content.field_body }}
		  </div>
		</div>
	{% endif %}
</section>
