<div {{ attributes.addClass('search-result', 'search-result--' ~ nodetype) }}>
	<div class="search-result__image">
	  {{ field_landing_image }}
	</div>
  <div class="search-result__content-wrapper bg--white">
		<div class="search-result__content">
			<p class="search-result__published-date">{{ field_article_publish_date }}</p>
			<h3>{{ node_title }}</h3>
			<div class="search-result__body">
				{{ body }}
			</div>
		</div>
	</div>
</div>
