{% set nodetype = title['#bundle'] %}
{# {{ kint(field_article_image) }} #}
<div {{ attributes.addClass('search-result', 'search-result--' ~ nodetype) }}>
	<div class="search-result__image">
		{% if field_article_image['#items'] %}
			<div class ='article-teaser__image'>
	     	{{ field_article_image }}
	    </div>
	  {% elseif field_video_embed['#items']  %}
	    <div class ='article-teaser__video'>
	      {{ field_video_embed }}
	    </div>
	  {% endif %}
	</div>
  <div class="search-result__content-wrapper bg--white">
		<div class="search-result__content">
			<p class="search-result__tag">{{ nodetype }}</p>
			<p class="search-result__published-date">{{ field_article_publish_date }}</p>
			<h3>{{ node_title }}</h3>
			<div class="search-result__body">
				{{ body }}
			</div>
		</div>
	</div>
</div>
