<div>
  <a class="btn btn--red {{modifier_class}}" href="#">
    This is a call-to-action
  </a>
  <p>
    <a href="btn btn--red {{modifier_class}}" href="#"></a>
    <a href="btn btn--red {{modifier_class}}" href="#"></a>
    <a href="btn btn--red {{modifier_class}}" href="#"></a>
    <a href="btn btn--red {{modifier_class}}" href="#"></a>
    <a href="btn btn--red {{modifier_class}}" href="#"></a>
    <a href="btn btn--red {{modifier_class}}" href="#"></a>
    <a href="btn btn--red {{modifier_class}}" href="#"></a>
    <a href="btn btn--red {{modifier_class}}" href="#"></a>
    <a href="btn btn--red {{modifier_class}}" href="#"></a>
    <a href="btn btn--red {{modifier_class}}" href="#"></a>
    <a href="btn btn--red {{modifier_class}}" href="#"></a>
  </p>
</div>