{% set desk_img = node.field_landing_image.entity.fileuri %}
{% set mobile_img = node.field_landing_image_mobile.entity.fileuri %}
{% set bg_colour = field_landing_background_colour['#items'].value %}
{% set copy_position = field_landing_copy_position_alig['#items'].value %}

<div class="landing-page contextual-region">
	<header class="landing-page__header {{ bg_colour }}">
		<div class="landing-page__bg-image">
			<picture>
				<source media="(min-width: 739px)" srcset="{{ file_url(desk_img) }}">
	  		<source srcset="{{ file_url(mobile_img) }}">
	  		<img src="{{ file_url(mobile_img) }}" alt="">
			</picture>
		</div>
		{{ title_suffix.contextual_links }}
		{# {% if field_landing_image_mobile %}
			<div class="landing-page__image-mobile">
				{{ field_landing_image_mobile }}
			</div>
		{% endif %} #}
		<h1 class="landing-page__title">{{ title }}</h1>
		<div class="landing-page__content">
			<div class="landing-page__content-inner {{ copy_position }}">
				{{ body }}
			</div>
		</div>
	</header>
</div> 
