{% set desk_img = node.field_landing_image.entity.fileuri %}
{% set mobile_img = node.field_landing_image_mobile.entity.fileuri %}
{% set bg_colour = field_landing_background_colour['#items'].value %}
{% set copy_position = field_landing_copy_position_alig['#items'].value %}

<div class="promo-header contextual-region">
	<header class="promo-header {{ bg_colour }}">
		<div class="promo-header__bg-image">
			{% if mobile_img %}
				<picture>
					<source media="(min-width: 739px)" srcset="{{ file_url(desk_img) }}">
	  			<source srcset="{{ file_url(mobile_img) }}">
	  			<img src="{{ file_url(desk_img) }}" alt="">
				</picture>
	  	{% else %}
	  		{{ field_landing_image }}
	  	{% endif %}
		</div>
		{{ title_suffix.contextual_links }}
		<h1 class="promo-header__title">{{ title }}</h1>
		<div class="promo-header__content">
			<div class="promo-header__content-inner {{ copy_position }}">
				{{ body }}
			</div>
		</div>
	</header>
</div> 
