{# {{ kint(field_cta) }} #}
<div class="landing-page">
	<header class="landing-page__header" style="background-image: url('{{ file_url(node.field_image.entity.fileuri) }}')">
		<div class="landing-page__content">
			{{ body }}
			<div class="landing-page__link">	
				{{ field_cta }}
			</div>
			{# {{ field_cta['#items'].title }}
			{{ field_cta['#items'].uri }} #}

		</div>
	</header>
	{# {{ kint(panelizer) }} #}
</div>
