{% set bg_colour = field_teaser_bg_colour['#items'][0].value %}
{% set btn_colour = field_teaser_link_colour['#items'][0].value %}
{% set btn_text = field_teaser_link_title['#items'][0].value  %}
{% set btn_link = field_teaser_link_address['#items'][0].value %}
{% set link_target = field_cw_link_target['#items'][0].value ? '_blank' : '_self' %}
{% set teaser_type = field_teaser_bg_image['#items'][0].value ? 'teaser-block--bg-image' : 'teaser-block--standard' %}
{% set youtube_link = field_teaser_you_tube_link['#items'][0].value ? 'lightcase' : '' %}

{%
  set classes = [
  'teaser-block',
  'clearfix',
  teaser_type,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% if btn_link %} 
    <a class="teaser-block__link" href="{{ field_teaser_link_address }}" target="{{ link_target }}">
  {% endif %}
      <div class="teaser-block__image objectfit">
        {{ field_teaser_image }}
      </div>
      <div class="teaser-block__body {{ bg_colour }}">
        {{ body }}
        {% if btn_text and btn_link %}
          <div class="teaser-block__cta">
            <span class="btn {{ btn_colour }}">{{ field_teaser_link_title }}</span>
          </div>
        {% endif %}
      </div>
    {% if btn_link %}   
      </a>
    {% endif %}
</article>
