{#
/**
 * @file
 * Template for Articles layout.
 *
 * This template provides 4 regions layout. Header, body, footer and bottom region
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - $content.header Content in the header region.
 *   - $content.body Content in the body region.
 *   - $content.footer Content in the footer region.
 *   - $content.bottom Content in the footer region.
 */
#}

<article class="cr-article" {% if css_id %}{{ css_id }}{% endif %}>
  <header class="cr-article__header">
    <div class="contextual-region">
      {{ title_suffix.contextual_links }}      
    </div>
    <h1 class="cr-article__title">{{ title }}</h1>
  </header>

  <div class="cr-article__inner-wrapper">
    <div class="cr-article__body">
      {{ body }}
    {{  field_partner_website }}
    </div>
  </div>
</article>

<section class="bottom-region">
  {{ content['dynamic_block_field:node-partners_grid'] }}
</section>
