{% set bg_colour = field_cr_card_background['#items'][0].value %}
{% set no_image = content.field_cr_card_image['#items'].value == '' ? 'card__content-wrapper--no-image' %}
{%
set content_wrapper_class = [
'card__content-wrapper',
no_image,
]
%}
<div class="card {{ bg_colour }}">
	{{ title_suffix.contextual_links }}
	{# {% if field_cr_card_image['#items'].value %} #}
	<div class="card__image">
		{{ field_cr_card_image }}
	</div>
	{# {% endif %} #}
	<div{{ attributes.addClass(content_wrapper_class) }}>
		<div class="card__content">
			{{ field_cr_card_body }}
		</div>
	</div>
</div>
