{#
/**
 * @file
 * Template for Articles layout.
 */
#}

<article class="cr-article" {% if css_id %}{{ css_id }}{% endif %}>
  <div class="cr-article__content-wrapper">
  <header class="cr-article__header">
    <div class="cr-article__social-links">
        <div class= "social-links-label">
          <span>Share with:</span>
        </div>
        {{ social_links }}  
      </div>
      {{ node_title }}
      <div class="contextual-region">
        {{ title_suffix.contextual_links }}      
      </div>
      <span class ='cr-article__date'> 
        {{ field_article_publish_date }}
      </span>
      {% if field_article_image['#items'] %}
      <div class ='cr-article__image'>
        {{ field_article_image }}
      </div>
    {% elseif field_video_embed['#items'] %}
      <div class ='cr-article__video'>
        {{ field_video_embed }}
      </div>
    {% endif %}
    {% if field_image_caption['#items'] %}
      <figcaption class = 'cr-article__caption'>
        {{ field_image_caption }}
      </figcaption>
    {% endif %}
    </header>
    <section class="cr-article__body"> 
      {{ body }}
    </section>
  </div>
</article>
<section class="bottom-region">
  {{ content['dynamic_block_field:node-related_news'] }}
</section>
