{#
/**
 * @file
 * Default theme implementation for the node created field.
 *
 * This is an override of field.html.twig for the node created field. See that
 * template for documentation about its details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see field.html.twig
 *
 * @ingroup themeable
 */
#}

{%- for item in items -%}
	{% if field_name == 'field_article_publish_date' %}
       <span class ='cr-article__date'> {{item.content}}</span>	
 	{% elseif field_name == 'field_article_image' %}
    	<div class ='cr-article__image'> {{item.content}}</div>	
 	{% elseif field_name == 'field_video_embed'%}
    	<div class ='cr-article__video'> {{item.content}}</div>
    {% elseif field_name == 'field_image_caption'%}
    	<figcaption class = 'cr-article__caption'>{{item.content}}</figcaption>	
  	{% else %}
    	{{item.content}}
  	{% endif %} 
{%- endfor -%} 
