<h1 class="font--black-shadow">Heading 1</h1>
<h1 class="{{ modifier_class }}">Heading 1</h1>
<h2 class="{{ modifier_class }}">Heading 2</h2>
<h3 class="{{ modifier_class }}">Heading 3</h3>
<h4 class="{{ modifier_class }}">Heading 4</h4>
<h4 class="{{ modifier_class }}">Heading 4</h4>
<p class="{{ modifier_class }}">Paragraph Intrinsicly impact compelling channels through intermandated paradigms. Appropriately optimize intuitive imperatives whereas emerging web services. Continually expedite installed base paradigms rather than high-payoff niches. Authoritatively.</p>