{#
/**
 * @file
 * Default theme implementation from YAML form submission information.
 *
 * Available variables:
 *
 * @see template_preprocess_yamlform_submission_information()
 *
 * @ingroup themeable
 */
#}
<details {% if open %}open="open"{% endif %}>
  <summary role="button"{% if open %} aria-expanded="true" aria-pressed="true"{% endif %}>{{ 'Submission information'|t }}</summary>
  <div class="details-wrapper">
    {% if submission_view_any %}
      <div><b>{{ 'Submission ID'|t }}:</b> {{ sid }}</div>
      <div><b>{{ 'Submission UUID'|t }}:</b> {{ uuid }}</div>
      {% if uri %}
        <div><b>{{ 'Submission URI'|t }}:</b> {{ uri }}</div>
      {% endif %}
      <div><b>{{ 'Created'|t }}:</b> {{ created }}</div>
      <div><b>{{ 'Completed'|t }}:</b> {{ completed }}</div>
      <div><b>{{ 'Changed'|t }}:</b> {{ changed }}</div>
      <div><b>{{ 'Is draft'|t }}:</b> {{ is_draft }}</div>
      <div><b>{{ 'Remote IP address'|t }}:</b> {{ remote_addr }}</div>
      <div><b>{{ 'Submitted by'|t }}:</b> {{ submitted_by }}</div>
      <div><b>{{ 'Language'|t }}:</b> {{ language }}</div>
      <div><b>{{ 'Form'|t }}:</b> {{ form }}</div>
      <div><b>{{ 'Submitted to'|t }}:</b> {{ submitted_to }}</div>
    {% else %}
      <div><b>{{ 'Submission ID'|t }}:</b> {{ sid }}</div>
      <div><b>{{ 'Created'|t }}:</b> {{ created }}</div>
    {% endif %}
  </div>
</details>
