<p>
  <button type="button" class="{{modifier_class}}">A normal button</button>
  <button type="submit" class="{{modifier_class}}">A submit button</button>
  <button type="reset" class="{{modifier_class}}">A reset button</button>
</p>
<p>
  <input type="button" class="{{modifier_class}}" value="Input button">
  <input type="submit" class="{{modifier_class}}" value="Input submit button">
  <input type="reset" class="{{modifier_class}}" value="Input reset button">
</p>
<p>
  <button type="button" class="{{modifier_class}}" disabled>A disabled button</button>
  <button type="submit" class="{{modifier_class}}" disabled>A disabled submit button</button>
  <button type="reset" class="{{modifier_class}}" disabled>A disabled reset button</button>
</p>
<p>
  <input type="button" class="{{modifier_class}}" value="Disabled input button" disabled>
  <input type="submit" class="{{modifier_class}}" value="Disabled input submit button" disabled>
  <input type="reset" class="{{modifier_class}}" value="Disabled input reset button" disabled>
</p>
