{% set link_colour = field_teaser_link_colour['#items'][0].value %}
{% set link_target = field_cw_link_target['#items'][0].value ? '_black' : '_self' %}
{% set youtube_link = field_teaser_you_tube_link['#items'][0].value ? 'lightcase' : '' %}

<article{{ attributes.addClass('cw-article', 'clearfix') }}>
  {{ title_suffix.contextual_links }} 
    <div class="cw-article__image">
      <a rel="{{ youtube_link }}" class="{{ youtube_link }}" href="{{ field_teaser_link_address }}" target="{{ link_target }}" title='{{ field_teaser_lightbox_caption }}'>
        {{ field_teaser_image }}
      </a>
    </div>
    <div class="cw-article__body bg--white cw-article__body--hide-show">
      <h4 class="cw-article__title">{{ field_teaser_title }}</h4>
      {{ body }}
      <div class="cw-article__link">
        <a rel="{{ youtube_link }}" class="link {{ link_colour }}" href="{{ field_teaser_link_address }}" target="{{ link_target }}" title='{{ field_teaser_lightbox_caption }}'>{{ field_teaser_link_title }}</a>
      </div>
    </div> 
</article>
