<article {{ attributes.addClass('ds-1col cw-article cw-article--small', 'clearfix') }}>
  {{ title_suffix.contextual_links }} 
    <div class="cw-article__image">
      <a href="{{ field_teaser_link['#items'].uri }}">
        {{ field_teaser_image }}
      </a>
    </div>
    <div class="cw-article__body cw-article__body--hide-show">
      <h3 class="cw-article__title">{{ field_teaser_title }}</h3>
      {{ body }}
      <div class="cw-article__link">
        {{ field_teaser_link }}
      </div>
    </div> 
</article>
