{% set bg_colour = field_teaser_bg_colour['#items'][0].value %}
{% set cta_colour = field_teaser_link_colour['#items'][0].value %}
{% set cta_text = field_teaser_link_title['#items'][0].value  %}
{% set cta_description = field_teaser_link_description['#items'][0].value  %}
{% set cta_link = field_teaser_link_address['#items'][0].value %}
{% set link_target = field_cw_link_target['#items'][0].value ? '_blank' : '_self' %}
{% set teaser_type = field_teaser_bg_image['#items'][0].value ? 'teaser-block--bg-image' : 'teaser-block--standard' %}
{% set youtube_link = field_teaser_you_tube_link['#items'][0].value ? 'lightcase' : '' %}
{% set has_img = field_teaser_image['#items'][0].value  ?  true : false %}
{% set img_class = field_teaser_image['#items'][0].value  ? "teaser-block--has-image" : "teaser-block--no-image" %}

{%
  set classes = [
  'teaser-block',
  'clearfix',
  img_class,
  teaser_type,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {% if cta_link %} 
    <a class="teaser-block__link" href="{{ field_teaser_link_address }}" target="{{ link_target }}"
       {% if cta_description %}
         aria-label="{{ cta_description }}"
       {% endif %}
    >
  {% endif %}
  
  {% if has_img %}
    <div class="teaser-block__image objectfit">
      {{ field_teaser_image }}
    </div>
  {% endif %}

    <div class="teaser-block__body {{ bg_colour }}">
      {{ body }}
        {% if cta_text and cta_link %}
          <div class="teaser-block__cta">
            <span class="{{ cta_colour }}">{{ field_teaser_link_title }}</span>
          </div>
        {% endif %}
      </div>
    {% if cta_link %}   
      </a>
    {% endif %}
</article>
